
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
    background-color: #000;
    color: white;
    font-size: 16px;
}

.top-bar-left {
    display: flex;
    gap: 20px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}


.logo-navbar-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 50px;
    height: 50px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/3/35/Ferrari_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -3px;
}

/
.navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
    gap: 30px; 
    padding: 5px 0; 
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.navbar a:hover {
    color: #ddd;
}


.content {
    text-align: center; 
    margin-top: 50px; 
    padding: 0 30px; 
}


.breadcrumb {
    font-size: 14px; /* Tamanho da fonte */
    color: #888; /* Cor cinza */
    margin-bottom: 10px; /* Menor espaçamento abaixo */
    text-align: left; /* Alinhamento à esquerda */
    padding-left: 30px; /* Espaçamento à esquerda */
    margin-top: 10px; /* Espaço acima */
}

.content h1 {
    font-family: 'Montserrat', sans-serif; /* Fonte da navbar */
    font-size: 24px; /* Tamanho ajustado */
    margin-bottom: 10px;
    font-weight: 600; /* Letras mais grossas */
    color: black; /* Cor preta */
}

.content p {
    font-size: 18px;
    color: #555;
}
